<style>

  .productSection {
    margin-left: 50px;
  }
</style>
<section class="productSection">
  <h2>{{ page_title }}</h2>
  <p>Inside Amarillo</p>

  <p>Product:
    {{ product.title }}
    - ${{ product.price | divided_by: 100 }}
  </p>


{%- if product.vendor == 'Nike2' -%}
  TESTING
  
  
<h2>{{ product.vendor }}</h2>

  TESTING
{% else %}
  {% endif -%}
  


{% if product.vendor == 'Nike' %}
  <h2>{{ product.vendor }}</h2>
{% else %}
El vendor no es Nike
{% endif %}


</section>
