<style>

  .productSection {
    margin-left: 50px;
  }
</style>
<section class="productSection">
  <h2>{{ page_title }}</h2>
  <p>Inside Amarillo</p>

  <p>Product:
    {{ product.title }}
    - ${{ product.price | divided_by: 100 }}
  </p>
  0
  Start Test:
TEST1:
{% if product.vendor == 'Nike2' %}
  <h1>{{ product.title }}</h1>
{% endif %}
TEST2:
{%- if product.vendor == 'Nike2' -%}
  <h1>{{ product.title }}</h1>
{%- endif -%}
TEST3:
{% if product.vendor == 'Nike2' %}
  <h1>{{ product.title }}</h1>
{%- endif %}
TEST4:
{%- if product.vendor == 'Nike2' %}
  <h1>{{ product.title }}</h1>
{% endif %}
End Test
  


{% if product.vendor == 'Nike' %}
  <h2>{{ product.vendor }}</h2>
{% else %}
El vendor no es Nike
{% endif %}


</section>
