<style>

  .productSection {
    margin-left: 50px;
  }
</style>
<section class="productSection">
  <h2>{{ page_title }}</h2>
  <p>Inside Amarillo</p>

  <p>Product:
    {{ product.title }}
    - ${{ product.price | divided_by: 100 }}
  </p>
  
<div class="product_badge">MetaTag (extra_description):{{ product.metafields.custom.extra_description }}</div>
  
  {% if product.metafields.custom.isnew == true %} 
  New Product
    {% endif %}
      {% if product.metafields.custom.isnew == false %} 
  NOT NEW
    {% endif %}
  


{% if product.vendor == 'Nike' %}
  <h2>{{ product.vendor }}</h2>
{% else %}
El vendor no es Nike
{% endif %}


</section>
